body{
    background-color: black;
}
.row{
    display: flex;
    justify-content: space-evenly;
    margin-top: 2%;
}
.row1{
    background-color:#484848;
    height: 50vh;
    width: 20vw;
    border-radius: 2vw;
    text-align: center;
}
.ab{
    color: black;
    font-size: 2.3vw;
    font-family: "Papyrus", sans-serif;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
    margin-bottom: 2%;
}
.abc{
    font-size: 1.3vw;
}
.row1:hover {
  transform: translate(5px, 5px);
  }
  