::selection {
    background-color: aqua;
}
.name{
color: aqua;
font-size: 3vw;
font-family: "Berlin sans FB";
padding: 7%;
}
.mainrow{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    display: flex;
}
.icon{
    margin: 1.5vw;
}
.icon path {
    fill: aqua; 
    transition: fill 0.3s; 
  }
  
  .icon:hover path {
    fill: #F8381B; 
  }
.horizontal_line{
width: 100%;
height: 0.5vh;
background-color: aqua;
}
.image{
    position: relative;
    width: 50vw;
    height: auto;
    left: -5vw;
}
.row1{
    display: flex;
}
#one{
    color: #2893E8;
    font-size: 2vw;
    font-family: "Arial Black", sans-serif;
}
#one::selection{
    background-color: rgba(40, 147, 232, 0.5);
    color:#2893E8 ;
}
#two{
    color: aqua;
    font-size: 2.2vw;
    font-family: "Arial Black", sans-serif;
}

#three{
    color: #2893E8;
    font-size: 1.5vw;
    font-family: "Arial Black", sans-serif;
    position: relative;
    left: -3vw;
}
#success{
    width: 30vw;
    height: auto; 
    position: relative;
    left: 15vw;
    -webkit-user-drag: none;
}
body{
    overflow-x: hidden;
    font-family: Arial, sans-serif;
}
#four{
    color: #2893E8;
    font-size: 2.2vw;
    font-family: "Arial Black", sans-serif;
    margin-right: 3vw;
}
.line{
    display: flex;
}

 #exploreButton:hover {
    content: "Academics";
    color: #48ff00;
  }  

.object{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 10%;
}
.picture{
    justify-content: center;
    width: 90%;
    height: 40%;
    border-radius:2vw;
}


@media (min-width: 768px) {
  .button-56 {
    padding: 0 40px;
  }
}
.abi{
    flex-direction: column;
    text-align: center;
}
.contain{
    display: flex;
    justify-content: space-evenly;
    margin-top: 3%;
}
.dabba{
    background-color: #484848;
    width: 23vw;
    height: 50vh;
    border-radius: 2vw;
    transition: border-image 0.5s;
    text-align: center;
    color: black;
    font-size: 2vw;
    font-family: "Papyrus", sans-serif;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
    margin-bottom: 10VH;
}
.dabba:hover {
    transform: translate(5px, 5px);
    }
    .bttn{
        width: 10vw;
        height: 5.5vh;
        background-color: #484848;
        font-family: "Arial black", sans-serif;
        position: relative;
        left: 28%;
        margin-top: 9%;
        border-radius: 2vw;
        color: white;
        font-size: 1.3vw;
        text-align: center;
        justify-self: center;
        text-decoration: none;
    }
.bttn:hover{
    background-color:black ;
}
 .link {
    color: inherit;
    text-decoration: none;
}
.link:hover{
    text-decoration: none;
}
.footer{
    background-color: #333333;
    display: flex;
    justify-content: space-between;
}
